# Database
DATABASE_URL="postgresql://postgres:postgre@localhost:5432/unimart?schema=public"

# Auth.js (NextAuth)
AUTH_SECRET="dummy-secret-at-least-32-characters-long"
AUTH_URL="http://localhost:3000"

# Google Provider - @all get from kelly
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
