# Dependencies
node_modules
.pnpm-debug.log

# Next.js
.next/
out/

# Turbo
.turbo

# Environment
.env
.env.local
.env.production

# Build outputs
dist
build
*storybook.log
storybook-static

# notes
/notes.md
